#menu{
  height: 110px;
  width: 100%;
  background-color: #FFE6D5;
  padding: 0;
  margin: 0;
}

#topIframe{
  margin: 0;
  padding: 0;
  position: fixed;
}

#botIframe{
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 117px;
  border: 0;
  margin-top: 320px;
}

#separacion{
  height: 100px;
}

body{
  margin: 0;
}

#imagenCC{
  border: 0;
}

#textoFooter{
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  font-weight: bold;
  background-color: inherit;
}

#footer{
  width: 100%;
  background-color: #FFE6D5;
  text-align: center;
  padding-bottom: 10px;
}

.iconosMenu{
  float: left;
  width: 33.3%;
}

a:visited, a:link{
  color:black;
}

.centrarTexto{
  text-align: center;
}

#paginaprincipalindex:link, #paginaprincipalindex{
  font-size: 100px;
  text-decoration: none;
}

#paginaprincipalhtml:link, #paginaprincipalhtml{
  font-size: 100px;
  text-decoration: none;
}

#paginaprincipalcss:link, #paginaprincipalcss{
  font-size: 100px;
  text-decoration: none;
  float: right;
}

iframe[name="menu"]{
  border: none;
  width: 100%;
}


.linkexamen:link, .linkexamen{
  font-size: 30px;
  text-decoration: none;
  background-color: black;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.linkexamen:hover{
  font-size: 35px;
  text-decoration: none;
  background-color: #FF9448;
  padding: 10px;
}

.examenes{
  text-align: center;
}


h1{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-color: #FFE6D5;
}
h2{
  background-color: #D3FEF8;
  font-size: 50px;
  text-align: center;
}
h3{
  border-bottom: 3px solid black;
  font-size: 35px;
}
h4{
  font-size: 30px;
}

h5{
  font-size: 25px;
}

h6{
  font-size: 18px;
}

p{
  font-size: 20px;
}

li{
  font-size: 20px;
}

#ejemploGoogleFonts{
  font-family: 'Roboto Slab', serif;
  background-color: inherit;
}

#textoEjemploFontFamily{
  font-family: verdana;
  background-color: inherit;
}

#ejemploColor{
  color: red;
  background-color: inherit;
}

#textoEjemploColoreadoRGB{
  color: rgb(20, 150, 170);
  background-color: inherit;
}

#textoEjemplo2ColoreadoRGB{
  color: rgba(220, 50, 170, 1);
  background-color: inherit;
}

#textoEjemploColoreadoHEX{
  color: #36F2C1;
  background-color: inherit;
}

#textoEjemploColoreadoHSL{
  color: hsl(135, 100%, 60%);
  background-color: inherit;
}

#textoEjemploColoreadoHSLA{
  color: hsla(250, 100%, 16%, 0.7);
  background-color: inherit;
}

#abreviaturaEjemploabbr{
  color: red;
}

.textoExplicarCSS{
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
  background-color: inherit;
}

.textoExplicarAtributosCSS{
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  background-color: inherit;
}

#tituloIndex{
  margin-top: 12%;
  font-size: 100px;
  font-family: 'Roboto Slab', serif;
}

#tituloprincipalhtml{
  font-size: 150px;
  background-color: #FFE6D5;
  background-image: url(img/html5.png);
  background-repeat: no-repeat;
  background-size: 200px;
}

#tituloprincipalcss{
  font-size: 150px;
  background-color: #FFE6D5;
  background-image: url(img/css3.png);
  background-repeat: no-repeat;
  background-size: 200px;
}

.ejemplo{
  display: inline-block;
  padding: 13px;
  border: 3px dotted black;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}

.ejemploPre{
  font-family: times;
  display: inline-block;
  padding: 13px;
  border: 3px dotted black;
  background-color: white;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

#ejemploEstiloLink{
  font-size: 35px;
}

#ejemploEstiloLink:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
}

#ejemploEstiloLink:visited{
    color: aqua;
    background-color: transparent;
    text-decoration: none;
}

#ejemploEstiloLink:active{
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

#ejemploEstiloLink:hover{
    color: red;
    background-color: transparent;
    text-decoration: none;
}

#iconofirefox{
  font-size: 100px;
}



#MiHorario{
  border: 3px solid black;
  border-collapse: collapse;
  font-family: arial;
}


.MiHorarioHoras{
  width: 100px;
  border: 3px solid black;
  text-align: center;
  font-size: 20px;
  background-color: #666;
  color: white;
}

.MiHorarioDiaSemana{
  border: 3px solid black;
  height: 50px;
  width: 300px;
  font-size: 40px;
  background-color: #666;
  color: white;
}

#recreo{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 40px;
}

.MiHorarioBasDat{
  width: 300px;
  border: 3px solid black;
  background-color: #FF4C5B;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.MiHorarioProgr{
  width: 300px;
  border: 3px solid black;
  background-color: #98FB84;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.MiHorarioLengMar{
  width: 300px;
  border: 3px solid black;
  background-color: #98FBFF;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.MiHorarioIng{
  width: 300px;
  border: 3px solid black;
  background-color: #ffff43;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.MiHorarioSisInf{
  width: 300px;
  border: 3px solid black;
  background-color: #fdb228;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.MiHorarioEntDes{
  width: 300px;
  border: 3px solid black;
  background-color: orchid;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.MiHorarioForOriLab{
  width: 300px;
  border: 3px solid black;
  background-color: #975;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}




#EjercicioTabla1 td{
  border: 1px solid black;
  height: 150px;
  width: 150px;
  font-size: 25px;
  padding: 0px;
}

#EjercicioTabla1{
  border-collapse: collapse;
  border: 5px solid #ccc;
}

#Parte1EjercicioTabla1{
  text-align: center;
  padding-bottom: 150px !important;
}

#Parte2EjercicioTabla1 {
  text-align: right;
  vertical-align: bottom;
  padding: 0px;
}

#Parte3Texto1EjercicioTabla1{
  font-family: Times;
  font-size: 34px;
  background-color: inherit;
  writing-mode: tb-rl;
  padding-left: 20px;
}

#Parte4EjercicioTabla1{
  text-align: center;
  background-color: rgb(61,224,5);
}

#Parte5EjercicioTabla1{
  background-color: red;
}

#Parte5Texto1EjercicioTabla1{
  text-align: center;
  transform: rotate(45deg);
  text-decoration: underline;
  font-weight: bolder;
  background-color: inherit;
  font-size: 30px;
}

#Parte6EjercicioTabla1{
  transform: translate(50px);
  text-decoration: underline;
  font-size: 50px !important;
}

#Parte7EjercicioTabla1{
  background-color: purple;
}

#Parte8EjercicioTabla1{
  padding-bottom: 120px;
}

#basuraIcono{
  font-size: 190px;
  margin-top: -74px;
}

#instagramIcono{
  font-size: 80px;
  width: 150px;
  color:aquamarine;
}

#Parte7Imagen1EjercicioTabla1{
  width: 100%;
}

#Parte8Imagen1EjercicioTabla1{
  width: 45%;
  padding-top: 30px;
  padding-left: 42px;
}

#Parte9EjercicioTabla1{
  background-color: cyan;
}





#EjercicioTabla2{
  border-collapse: collapse;
  width: 100%;
}

#EjercicioTabla2 td{
  border: 0px solid transparent;
  padding: 0px;
}

#Celda2EjercicioTabla2{
  width: 80%;
}

#titulo1Celda2EjercicioTabla2{
    text-align: center;
    background-color: inherit;
    color: black;
    font-size: 70px;
}

#texto1Celda2EjercicioTabla2{
  background-color: inherit;
  text-align: justify;
}

#texto2Celda2EjercicioTabla2{
  background-color: inherit;
  padding-left: 17%;
  margin-top: -5px;
}

#imagen1Celda2EjercicioTabla2{
  padding-left: 17%;
}

#separadorCeldasEjercicioTabla2{
    height: 30px;
}

#ejemploTabla{
  border-collapse: collapse;
}

#ejemploTabla td, th{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100px;
}

#ejemploTablaEstilo tr:nth-child(even){
  background-color: #ddd;
}

#ejemploTablaEstilo tr:nth-child(odd){
  background-color: #aaa;
}

#ejemploTablaEstilo{
  border-collapse: collapse;
}

#ejemploTablaEstilo th {
  background-color: black;
  color: white;
}

#ejemploTablaEstilo td, th{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100px;
  text-align: center;
}

#ejemploTablaRowspan{
  border-collapse: collapse;
}

#ejemploTablaRowspan td, th{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100px;
}

#ejemploTablaColspan{
  border-collapse: collapse;
}

#ejemploTablaColspan td, th{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100px;
}

#ejemploTablaBorde{
  border: 1px solid black;
}

#ejemploTablaBorde td{
  border: 1px solid red;
}

#ejemploTablaBordeCollapse{
  border: 1px solid black;
  border-collapse: collapse;
}

#ejemploTablaBordeCollapse td{
  border: 1px solid red;
}

#elementoEjemploColorFondo{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: cyan;
  text-align: center;
}

#ejemploBorde{
  border: 5px solid aquamarine;
  text-align: center;
  font-size: 30px;
  background-color: inherit;
  font-weight: bolder;
}

#ejemploPadding{
  border: 5px solid aquamarine;
  text-align: center;
  font-size: 30px;
  background-color: inherit;
  font-weight: bolder;
  padding: 30px;
}

#ejemploMargin{
  border: 5px solid aquamarine;
  text-align: center;
  font-size: 30px;
  background-color: inherit;
  font-weight: bolder;
  margin: 60px;
}

#textoEjemploAlinear{
  text-align: center;
  background-color: inherit;
}

#textoEjemploTamaño{
  font-size:200%;
  background-color: inherit;
}

#parrafoEjemplo1{
  color:red;
  background-color: inherit;
  margin: 0px;
}

.parrafoEjemplo2{
  color:red;
  background-color: inherit;
  margin: 0px;
}

#ejemploImagenLink{
  width: 100px;
}

.tituloBotonLink{
  background-color: transparent;
  font-size: 30px;
  margin-bottom: 0px;
}

#ejemploBotonLink:link, #ejemploBotonLink:visited{
  background-color: red;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

#ejemploBotonLink:hover, #ejemploBotonLink:active{
  background-color: aqua;
  color: black;
}

#ejemploFloat1imagen{
  float:left;
}

#ejemploFloat1texto{
  background-color:inherit;
}

#ejemploDivFloat1{
  width:350px;
}

#ejemploDivFloat2{
  width: 500px;
}

#ejemploFloat2{
  background-color: red;
  width: 100px;
  height:100px;
  float: left;
}

#ejemploFloat3{
  background-color: green;
  width: 100px;
  height:100px;
  float:right;
}

#ejemploFloat4{
  background-color: blue;
  width: 100px;
  height:100px;
  float:right;
}

.contenido{
  margin-left: 10px;
  margin-right: 10px;
}
