@font-face {
  font-family: Starjedi;
  src: url('ejercicio star wars/fuentes/Starjedi.ttf');
}

body {
  background-image: url("ejercicio star wars/multimedia/fondo1.jpeg");
  background-size: 1440px 922px;
  background-repeat: no-repeat;
  background-color: #222222;
  margin: 0;
  width: 1440px;
  height: 922px;
}

#titulo {
  margin-left: 2%;
  margin-right: 4.3%;
  margin-top: 2.6%;
  background-image: url("ejercicio star wars/multimedia/stars.jpg");
  text-align: center;
  border: 5px solid #cf111d;
}

#textoTitulo {
  margin: 0;
  margin-bottom: 10px;
  font-family: Starjedi;
  color: yellow;
  font-size: 33px;
}

#primerParrafo {
  margin-left: 2%;
  margin-right: 4.3%;
  margin-top: 0.4%;
  border: 5px solid #cf111d;
  background-image: url("ejercicio star wars/multimedia/lava.png");
  background-size: cover;
}

#textoPrimerParrafo {
  padding: 0;
  margin: 0;
  font-family: Candara;
  font-size: 17.6px;
  line-height: 1.1;
  text-align: justify;
  color: white;
}

#dosDivFuera {
  margin-left: 2%;
  margin-right: 4.3%;
  margin-top: 0.9%;
}

#contenedorTexto {
  border: 5px solid #cf111d;
  width: 21.4%;
  background-image: url("ejercicio star wars/multimedia/stars.jpg");
  text-align: center;
  color: yellow;
  font-family: Candara;
  font-size: 19px;
  line-height: 1.1;
  float: left;
}

#texto1 {
  padding-left: 5%;
  padding-right: 5%;
}

#texto2 {
  padding-left: 4%;
  padding-right: 4%;
}

#texto3 {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-bottom: 0;
}

#dosDivDentro {
  float: right;
  border: 5px solid #cf111d;
  width: 75.7%;
  height: 459.867px;
  background-image: url("ejercicio star wars/multimedia/lava.png");
  background-size: cover;
}

#tabla {
  float: left;
  padding-top: 0.5%;
  padding-left: 3%;
  color: white;
}

#tabla td {
  border: 2px solid white;
}

#tituloTabla {
  font-family: Starjedi;
  font-size: 25px;
  color: white;
  text-align: left;
  margin-bottom: -5px;
}

#fotos {
  margin-top: 1.8%;
  margin-left: 45%;
}

#chosenOne {
  margin-bottom: 2%;
}

#recaudacion {
  margin-left: 2%;
  margin-right: 4.3%;
  margin-top: 34.5%;
  border: 5px solid #cf111d;
  background-image: url("ejercicio star wars/multimedia/lava.png");
  background-size: cover;
}

#tituloRecaudacion {
  font-family: Starjedi;
  color: white;
  font-size: 22px;
}

#textoRecaudacion {
  padding: 0;
  margin: 0;
  margin-bottom: 0.3%;
  font-family: Candara;
  font-size: 17.3px;
  line-height: 1.1;
  text-align: justify;
  color: white;
}