#tituloTabla1{
  font-size: 40px;
  font-family: arial;
  font-weight: bolder;
  border: 3px solid black;
  border-collapse: collapse;
  background-color: aquamarine;
}

#tabla1{
  border: 0px;
  border-collapse: collapse;
}
#captionTabla1{
  font-size: 50px;
  font-weight: bolder;
  font-family: verdana;
}

#tabla1 tr:nth-child(even){
  background-color: hsla(120, 100%, 70%, 0.5);
}

#tabla1 tr:nth-child(odd){
  background-color: hsla(360, 100%, 70%, 0.7);
}

#tabla1 td{
  border: 3px solid black;
  border-collapse: collapse;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 25px;
  font-family: arial;
}

#tabla1 td:hover{
  font-size: 30px;
  color: white;
  background-color: black;
  font-weight: bolder;
}

#tabla1 #cabezeraConCeldaVacia{
  background-color: transparent;
}

.numerosArriba{
  background-color: #7396ff;
  color: white;
  font-size: 50px;
  border: 3px solid black;
  width: 60px;
  height: 60px;
}

.numerosIzquierda{
  background-color: #7396ff;
  font-size: 50px;
  color: white;
  border: 3px solid black;
  width: 60px;
  height: 60px;
}


#tabla2{
  border: 1px solid black;
  background-color: white;
}

#tabla2 td{
  border: 1px solid black;
  border-collapse: collapse;
}

#titulo1Ejercicio3{
  text-align: center;
  font-size: 50px;
  font-family: arial;
}

#titulo2Ejercicio3{
  font-size: 35px;
  font-family: arial;
  background-color: #409abf;
}

.texto1Ejercicio3{
  font-family: arial;
}

#titulo3Ejercicio3{
  font-size: 35px;
  font-family: arial;
  background-color: #409abf;
}

#titulo4Ejercicio3{
  font-size: 30px;
  font-family: arial;
  background-color: #78b9d0;
  color: white;
}

#texto2Ejercicio3{
  background-color: white;
  font-size: 16px;
}



body{
  background-color: #c8e0ec;
}
