#tituloTabla1{
  font-size: 40px;
  font-family: arial;
  font-weight: bolder;
  border: 3px solid black;
  border-collapse: collapse;
  background-color: aquamarine;
}

#tabla1{
  border: 0px !important;
  border-collapse: collapse;
}

#tabla1 td{
  border: 3px solid black;
  border-collapse: collapse;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 25px;
  font-family: arial;
}

#color1{
  background-color: hsl(20, 60%, 80%);
}

#color2{
  background-color: hsl(40, 60%, 80%);
}

#color3{
  background-color: hsl(60, 60%, 80%);
}

#color4{
  background-color: hsl(80, 60%, 80%);
}

#color5{
  background-color: hsl(100, 60%, 80%);
}

#color6{
  background-color: hsl(120, 60%, 80%);
}

#color7{
  background-color: hsl(140, 60%, 80%);
}

#color8{
  background-color: hsl(160, 60%, 80%);
}

#color9{
  background-color: hsl(180, 60%, 80%);
}

#color10{
  background-color: hsl(200, 60%, 80%);
}

#color12{
  background-color: hsl(220, 60%, 80%);
}

#color14{
  background-color: hsl(240, 60%, 80%);
}

#color15{
  background-color: hsl(260, 60%, 80%);
}

#color16{
  background-color: hsl(280, 60%, 80%);
}

#color18{
  background-color: hsl(300, 60%, 80%);
}

#color20{
  background-color: hsl(320, 60%, 80%);
}

#color21{
  background-color: hsl(340, 60%, 80%);
}

#color24{
  background-color: hsl(360, 60%, 80%);
}

#color25{
  background-color: hsl(380, 60%, 80%);
}

#color28{
  background-color: hsl(400, 60%, 80%);
}

#color30{
  background-color: hsl(420, 60%, 80%);
}

#celdaVacia{
  border-top: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
}

#numerosArriba{
  background-color: #73ff9c;
  color: white;
  font-size: 50px !important;
}

#numerosIzquierda{
  background-color: #7396ff;
  font-size: 50px !important;
  color: white;
}


#tabla2{
  border: 1px solid black;
  background-color: white;
}

#tabla2 td{
  border: 1px solid black;
  border-collapse: collapse;
}

#titulo1Ejercicio3{
  text-align: center;
  font-size: 50px;
  font-family: arial;
}

#titulo2Ejercicio3{
  font-size: 35px;
  font-family: arial;
  background-color: #409abf;
}

#texto1Ejercicio3{
  font-family: arial;
}

#titulo3Ejercicio3{
  font-size: 35px;
  font-family: arial;
  background-color: #409abf;
}

#titulo4Ejercicio3{
  font-size: 30px;
  font-family: arial;
  background-color: #78b9d0;
  color: white;
}

#texto3Ejercicio3{
  background-color: white;
  font-size: 16px;
}



body{
  background-color: #c8e0ec;
}
