body {
    background-color: rgb(255, 255, 244);
    font-family: arial;
    font-weight: bolder;
}

h1 {
    font-size: 80px;
    color: black;
    text-align: center;
    padding-top: 10%;
    background-image: url("img/hamburguesa.jpg");
    background-size: 20% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-bottom: 10%;
}

h2 {
    font-size: 30px;
    color: rgb(0, 119, 255);
    text-align: center;
    margin-top: 2%;
}

.formulario {
    font-size: 15px;
    margin-left: 25%;
    border: 2px solid rgb(111, 85, 255);
    margin-right: 25%;
    padding: 20px;
}

p {
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

pre {
    display: inline;
}

#enviar {
    width: 20%;
    height: 50px;
    margin-left: 39%;
    margin-right: 39%;
    font-size: 20px;
}

#birthday {
    width: 141px;
}

#izquierda {
    float: left;
    margin-right: 17%;
}

#izquierda label{
    font-size: 20px;
}

#datospersonales {
    height: 180px;
}