body{
  margin: 0;
  width: 1440px;
  height: 768px;
}

#busqueda{
  height: 15%;
}

#iconoInstagram{
  font-size: 30px;
}

#separacionIconoLogo{
  width: 0px;
  height: 40px;
  margin: 0;
  margin-left: 20%;
  border: 1px solid black;
}

#logoInstagram{
  width: 130px;
  height: 35px;
  display: inline;
}

#cajaBusqueda{
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  float: right;
  margin-right: 50%;
}

#textoCajaBusqueda{
}

.fa, fa-search{
  float: left;
  margin-right: 0.5%;
}